<!--Need to import the tab files here to get it executed-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealingFitness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<style>
body {
    background:lightpink;
    height: 1000px;
}

</style>
<body>
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                Healing Fitness &nbsp;
                <i class="fas fa-hand-holding-heart"></i>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!-- This line helps with the app version of the website. Demonstrates the tabs-->
        <div id="navbarBasicExample" class="navbar-menu is-active">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Admin
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Purpose
                        </a>
                        <a class="navbar-item">
                            Plan
                        </a>
                        <a class="navbar-item">
                            Progress
                        </a>
                    </div>
                </div>
                </a>
                <a class="navbar-item">
                    <i class="fas fa-running"> &nbsp;</i>
                    My Activity
                </a>
                <a class="navbar-item">
                    <i class="fas fa-chart-line"> &nbsp;</i>
                    Statistics
                </a>
                <a class="navbar-item">
                    <i class="fas fa-users">&nbsp;</i>
                    Friends Activity
                </a>
                <a class="navbar-item">
                    <i class="fas fa-search"> &nbsp;</i>
                    People Search
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger">
                            <strong>Sign Up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <section class="section">
        <div class="container">
            <div class="columns has-text-white">
                <div class="column">
                    <p class="title is-1 has-text-white"> Purpose: </p>
                    <p class="title is-5 has-text-white">&nbsp;This website is designed to create a welcoming and healthy environment for good habits.  </p>
   <!-- Add an image later, try to make it larger-->

                    <p> &nbsp;As we get older, it becomes more difficult to lose weight or feel confident with our bodies. Some common factors that can lead to weight gain are: </p>
                   
                  &nbsp; 
                   <ol>
             <li>Poor diet</li>
                        <li>Lack of exercise</li>
                      <li>Genetics</li>
                        <li>Stress</li>
                      <li>Environmental factor</li>
                    </ol>
                &nbsp;
                    <p> The reason I started this website was to healthy and smart ways to lose weight. Sometimes it can get difficult and frustrating not seeing results quickly, but the goal is create a plan that is right for you. The best way to start is to plan excerises ahead of time. Additionally, tracking your excerises can demonsrate your progess in the long run. </p>
               
                    &nbsp;
                    <p class="title is-5 has-text-white">Click "Plan" to get started today and begin your active fitness journey! </p>
                </div>
            </div>
        </div>
    </section>

    <script src="index.js">

    </script>
</body>

</html>